.add-printer {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__row {
    mat-form-field {
      margin: 0 16px 0 0;
    }

    mat-form-field:nth-last-child(1) {
      margin: 0;
    }
  }
}
