<div class="printer-details" *ngIf="selectedPrinter">
  <div class="printer-details__row">
    <div class="printer-info">
      <div class="printer-info__label">Printer Id:</div>
      <div class="printer-info__value">{{selectedPrinter.id}}</div>
    </div>
    <div class="printer-info">
      <div class="printer-info__label">Printer Name:</div>
      <div class="printer-info__value">{{selectedPrinter.name}}</div>
    </div>
  </div>
  <div class="printer-details__row">
    <div class="printer-info">
      <div class="printer-info__label">Printer Location:</div>
      <div class="printer-info__value">{{selectedPrinter.location?.floor}} - {{selectedPrinter.location?.room}}</div>
    </div>
    <div class="printer-info">
      <div class="printer-info__label">Printer description:</div>
      <div class="printer-info__value">{{selectedPrinter.description}}</div>
    </div>
    <div class="printer-info">
      <div class="printer-info__label">Color Printer:</div>
      <div class="printer-info__value"
      *ngIf="selectedPrinter.isColor"
      >Yes</div>
      <div class="printer-info__value"
      *ngIf="!selectedPrinter.isColor"
      >No</div>
    </div>
  </div>
  <div class="printer-details__row"></div>
  <div class="printer-details__actions">
    <button mat-flat-button color="warn" (click)="removePrinter(selectedPrinter)">Remove</button>
    <button mat-flat-button color="accent" [routerLink]="['/']">Printers</button>
    <button mat-flat-button color="accent" (click)="openStatusChart()">Status Chart</button>
    <button mat-flat-button color="accent" (click)="editPrinter(selectedPrinter)">Edit</button>
    <a mat-flat-button color="accent" href="/assets/file.txt" target="_black">Report</a>
  </div>
</div>
